<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Glide not load https - usesCleartextTraffic set true -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherDemo_MVVM_Starter"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- save key to local.properties file -->
        <meta-data
            android:name="WEATHER_API_KEY"
            android:value="${WEATHER_API_KEY}" />

        <activity
            android:name=".ui.cities.CitiesListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.weather.WeatherDetailsActivity" />

    </application>

</manifest>